  .flag{
        background-color: #CE1126;
        width: 900px;
        height: 600px;
        position: relative;
    }

    .flag > div{
        background-color: #002868;
        height: 300px;
        width: 100%;
        top: 130px;
        position: absolute;
    }
    
    .flag > div > div{
        background-color: white;
        height: 200px;
        width: 200px;
        border-radius: 100px;
        left: 350px;
        top: 50px;
        position: absolute;
    }

    .flag > p{
        text-align: center;
        color: white;
        font-weight: bold;
        font-size: 40px;
        margin: 0px;
    }

    div > p{
        text-align: center;
        font-weight: bold;
        font-size: 32px;
        line-height: 3.2;
    }